<div
  class="bg-secondary h-12 w-full flex flex-row-reverse px-5 gap-5 items-center text-xl text-primary cursor-pointer"
>
  <span><i class="bi bi-person-circle"></i></span>
  <span><i class="bi bi-bell-fill"></i></span>
  <span><i class="bi bi-envelope-fill"></i></span>
</div>

<div class="flex w-full m-0 p-0 min-h-95">
  <div
    class="m-0 p-0 w-20 bg-secondary_linear text-white px-5 py-1 border-t-2 border-gray1"
  >
    <app-navigation></app-navigation>
  </div>

  <div class="m-0 p-0 w-full">
    <router-outlet></router-outlet>
  </div>
</div>
